@import "../../pages/breakpoints.scss";


.navbar {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1;
  margin-bottom: 1rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #F7F8FA;
  justify-content: space-between;

  .logo {
    padding: 1.2rem;
    width: 280px;
    height: 50px;
    object-fit: cover;
    @include media('>=phone', '<=tablet'){
      width: 100px;
      padding: 1rem;
    }
  }
  .nav {
    margin: 0.5rem;
    margin-right: 4.5rem;
    display: flex;
    justify-content: flex-end;
    @include media('>=phone', '<=tablet'){
      margin:0rem;
    }
    .loginButton {
      background: #142683;
      color: white;
      padding: 1rem;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 2.5rem;
      @include media('>=phone', '<=tablet'){
        font-size: xx-small;
        margin-top: 1.2rem;
        padding: 0.5rem 1rem;
        margin-right: 1.5rem;
      }
    }
  }
  
  .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      @include media('>=phone', '<=tablet'){
        padding: 0rem;
      }
      
      .nav-link{
          margin: 2rem;
          text-decoration: none;
          color: #566474;    
          @include media('>=phone', '<=tablet'){
            font-size: small;
            margin: 1rem;
            
          }
      }
      .modal{
        margin: 2rem;
        background: #142683;
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        font-weight: normal;
        cursor: pointer;
        @include media('>=phone', '<=tablet'){
          font-size: small;
          margin: 0rem;
          padding: 0.2rem 1.2rem;
        }
      }
      .logout{
        margin-left: 1.2rem;
        margin-right: 2rem;
        cursor: pointer;
        font-size: large;
      }
  }
}
